<div class="tools-box flex text-slate-500 no-sel relative flex-row items-center ml-auto mb-2 mr-2">
    <div class="gap-x-4 flex flex-row items-center border-r border-slate-300 dark:border-slate-700 mr-4 pr-4">
        <button class="btn-preview flex flex-row items-center focus:outline-none hover:text-slate-900 hover:dark:text-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/>
                <path
                    fill-rule="evenodd"
                    d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487
                        4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0
                        5.25 5.25 0 0110.5 0z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="text-xs font-bold ml-1">Preview</span>
        </button>
        <button class="btn-code flex flex-row items-center focus:outline-none hover:text-slate-900 hover:dark:text-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path
                    fill-rule="evenodd"
                    d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0
                        11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25
                        2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z"
                    clip-rule="evenodd"/>
            </svg>
            <span class="text-xs font-bold ml-1">Code</span>
        </button>
    </div>
    <button>
        <button class="btn-copy flex flex-row items-center focus:outline-none hover:text-slate-900 hover:dark:text-slate-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5
                        1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12
                        2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
            </svg>
            <span class="text-xs font-bold ml-1">Copy</span>
        </button>
    </button>
</div>

<!-- Code -->
<div class="preview-code relative w-full select-all hidden">
    <pre>

    </pre>
</div>