<div class="tools-box flex text-slate-500 no-sel relative flex-row items-center ml-auto mb-2 mr-2">
    <div class="flex flex-row items-center border-r border-slate-300 dark:border-slate-700 mr-4 pr-4">
        
        <button tabindex="0" class="btn-preview rounded-l-lg px-1.5 py-1.5 bg-slate-500 text-white dark:text-slate-900 transitions-all ease-in-out duration-300 flex flex-row items-center outline-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
              </svg>
              
            <span class="text-xs font-bold ml-1">Preview</span>
        </button>
        <button tabindex="0"  class="btn-code rounded-r-lg px-1.5 py-1.5 bg-slate-500/10 text-slate-500 transitions-all ease-in-out duration-300 flex flex-row items-center outline-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
              </svg>
              
            <span class="text-xs font-bold ml-1">Code</span>
        </button>
        
    </div>
    <button tabindex="0"  class="btn-copy transitions-all ease-in-out duration-300 flex flex-row items-center outline-transparent hover:text-slate-900 hover:dark:text-slate-100">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
            <path
                fill-rule="evenodd"
                d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5
                    1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12
                    2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
        </svg>
        <span class="text-xs font-bold ml-1">Copy</span>
    </button>
</div>

<!-- Code -->
<div class="preview-code relative w-full select-all hidden">
    <pre>

    </pre>
</div>