<main
    class="w-screen lg:w-9/12 mx-auto px-10">
    <!-- Elements -->
    <section id="elements" class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 lg:grid-cols-3 relative mb-14 mt-5">
        <span class="absolute -top-7 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4
                before:-skew-y-3 before:bg-sky-500/60 inline-block">
            <span class="relative text-slate-900 dark:text-slate-100 font-bold text-2xl">Elements</span>
        </span>
        <a href="/components/avatars/" class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <span class="bg-sky-500 absolute left-5 top-5 uppercase pt-[1px] rounded-full text-white pr-1 pl-[0.35rem] text-xs font-bold">
                Novo</span>
                <div class="sub-item h-32 item-sky">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-sky-500/75 relative
                            inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Avatars</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="/components/badges/" class="no-sel">
            <div class=" grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-sky">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-sky-500/75 relative
                            inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Badges</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-sky">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-sky-500/75 relative
                            inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Buttons</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-sky">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-sky-500/75 relative
                            inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-3xl">Buttons Groups</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-sky">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-sky-500/75 relative
                            inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Dropdowns</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
    </section>
    <!-- Forms -->
    <section id="forms" class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 lg:grid-cols-3 relative mb-14 mt-5">
        <span class="absolute -top-7 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4
                before:-skew-y-3 before:bg-rose-500/60 inline-block">
            <span class="relative text-slate-900 dark:text-slate-100 font-bold text-2xl">Forms</span>
        </span>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Form Layouts</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Input Groups</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Select Menus</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Login/Register</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Textareas</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Radio Groups</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Checkboxes</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Toggles</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-rose">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-rose-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Action Panels</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
    </section>
    <!-- Modals -->
    <section id="modals" class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 lg:grid-cols-3 relative mb-14 mt-5">
        <span class="absolute -top-7 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4
                before:-skew-y-3 before:bg-yellow-500/60 inline-block">
            <span class="relative text-slate-900 dark:text-slate-100 font-bold text-2xl">Modals</span>
        </span>
        <a href="/components/avatars/index.html" class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-yellow">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-yellow-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-3xl">Centered Action</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-yellow">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-yellow-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Wide Buttons</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-yellow">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-yellow-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Single Action</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-yellow">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-yellow-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-3xl">With Background</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
    </section>
    <!-- Navigation -->
    <section id="navigation" class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 lg:grid-cols-3 relative mb-14 mt-5">
        <span class="absolute -top-7 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4
                before:-skew-y-3 before:bg-emerald-500/60 inline-block">
            <span class="relative text-slate-900 dark:text-slate-100 font-bold text-2xl">Navigation</span>
        </span>
        <a href="/components/avatars/index.html" class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Navbars</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Pagination</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Tabs</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Sidebar</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Breadcrumbs</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-emerald">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-emerald-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Steps</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
    </section>
    <!-- Feedback -->
    <section id="feedback" class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 lg:grid-cols-3 relative mb-14 mt-5">
        <span class="absolute -top-7 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4
                before:-skew-y-3 before:bg-purple-500/60 inline-block">
            <span class="relative text-slate-900 dark:text-slate-100 font-bold text-2xl">Feedback</span>
        </span>
        <a href="/components/avatars/index.html" class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-purple">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-purple-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Alerts</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-purple">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-purple-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Empty States</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-purple">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-purple-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Notification</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
        <a href="." class="no-sel">
            <div class="grid-item group hover:bg-slate-100/70 hover:dark:bg-slate-800/20 relative rounded-xl p-2">
                <div class="sub-item h-32 item-purple">
                    <span class="before:block before:absolute before:-inset-1 before:mt-3 before:h-5 before:-skew-y-3 before:bg-purple-500/75
                            relative inline-block">
                        <span class="relative text-slate-900 dark:text-slate-100 font-league font-bold text-4xl">Banners</span>
                    </span>
                </div>
                <p class="mt-1 text-xs font-semibold opacity-60">5 Components</p>
            </div>
        </a>
    </section>
</main>