---
layout: layouts/base.njk
renderData:
    title: Badges -
---

{% from 'components/component_view.njk' import title_box %}
{{ title_box({ title: "Badges" }) }}


<main class="w-screen md:w-11/12 lg:w-9/12 mx-auto px-4 md:px-8 lg:px-10 my-10">
    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
            
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Default", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12">
            <div class="flex flex-row space-x-5">
                <span class="bg-sky-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-sky-900 dark:text-sky-300">Info</span>
                <span class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Danger</span>
                <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Success</span>
                <span class="bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">Warning</span>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Pill Badges", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12">
            <div class="flex flex-row space-x-5">
                <span class="bg-sky-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">Info</span>
                <span class="bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Danger</span>
                <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Success</span>
                <span class="bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">Warning</span>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Badges as Button", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <button type="button" class="transition-colors inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">
                Notifications
                <span class="inline-flex items-center justify-center w-fit h-fit px-1 ml-2 text-xs font-semibold text-sky-800 bg-sky-200 rounded-full">2</span>
            </button>

            <button type="button" class="transition-all inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">
                Followers
                <span class="inline-flex items-center justify-center w-fit h-4 ml-2 text-xs font-semibold text-sky-800 bg-sky-200 px-0.5 py-0.5 rounded-full">+10</span>
            </button>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "With Icon", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <div class="flex flex-row space-x-5 items-center">
                <span class="inline-flex w-fit h-fit items-center bg-sky-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1 h-1 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Notific
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-md font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1.5 h-1.5 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Notifications 
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-lg font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-2 h-2 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Large
                </span>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Different Sizes", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <div class="flex flex-row space-x-5 items-center">
                <span class="inline-flex w-fit h-fit items-center bg-sky-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1 h-1 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Small
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-md font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1.5 h-1.5 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Medium
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-lg font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-2 h-2 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Large
                </span>
            </div>
        </div>
    </section>
</main>