---
layout: layouts/base.njk
renderData:
    title: Badges -
---

{% from 'components/component_view.njk' import title_box %}
{{ title_box({ title: "Badges" }) }}


<main class="w-screen md:w-11/12 lg:w-9/12 mx-auto px-4 md:px-8 lg:px-10 my-10">
    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
            
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Default", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12">
            <div class="flex flex-row space-x-5">
                <span class="bg-sky-400/10 text-sky-600 dark:text-sky-400 text-xs font-medium py-1 px-3 rounded">Info</span>
                <span class="bg-red-400/10 text-red-600 dark:text-red-400 text-xs font-medium py-1 px-3 rounded">Danger</span>
                <span class="bg-green-400/10 text-green-600 dark:text-green-400 text-xs font-medium py-1 px-3 rounded">Success</span>
                <span class="bg-yellow-400/10 text-yellow-600 dark:text-yellow-400 text-xs font-medium py-1 px-3 rounded">Warning</span>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Pill Badges", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12">
            <div class="flex flex-row space-x-5">
                <span class="bg-sky-400/10 text-sky-600 dark:text-sky-400 text-xs font-medium py-1 px-3 rounded-full">Info</span>
                <span class="bg-red-400/10 text-red-600 dark:text-red-400 text-xs font-medium py-1 px-3 rounded-full">Danger</span>
                <span class="bg-green-400/10 text-green-600 dark:text-green-400 text-xs font-medium py-1 px-3 rounded-full">Success</span>
                <span class="bg-yellow-400/10 text-yellow-600 dark:text-yellow-400 text-xs font-medium py-1 px-3 rounded-full">Warning</span>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Badges as Button", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <button type="button" class="transition-colors inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Notifications</button>

            <button type="button" class="transition-all inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Followers</button>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "With Icon", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <div class="flex flex-row space-x-5 items-center">
                <a class="ml-3 text-xs leading-5 font-medium text-sky-600 dark:text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 flex items-center hover:bg-sky-400/20">
                    <strong class="font-semibold">Notifications</strong>
                    <span class="ml-2">|</span>
                    <span class="ml-2">New items arrived!</span>
                    <svg width="3" height="6" class="ml-3 overflow-visible text-sky-300 dark:text-sky-400" aria-hidden="true">
                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </section>


    <!-- Container -->
    <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 dark:bg-slate-800/20 dark:border-slate-700 rounded-xl p-4 mt-20 mb-24">
                
        <!-- Name -->
        {% from 'components/component_view.njk' import component_info %}
        {{ component_info({ name: "Different Sizes", type: "elements" }) }}

        <!-- Copy/View code and Code Preview and Preview -->
        {% include 'components/code_box.njk' %}

        <!-- Preview -->
        <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
            <div class="flex flex-row space-x-5 items-center">
                <span class="inline-flex w-fit h-fit items-center bg-sky-100 text-sky-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1 h-1 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Small
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-md font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-1.5 h-1.5 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Medium
                </span>

                <span class="inline-flex w-fit h-fit  items-center bg-sky-100 text-sky-800 text-lg font-medium px-2.5 py-0.5 rounded-full dark:bg-sky-900 dark:text-sky-300">
                    <span class="w-2 h-2 rounded-full bg-sky-800 dark:bg-sky-300 block mr-1"></span>
                    Large
                </span>
            </div>
        </div>
    </section>
</main>