<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../css/output.css" rel="stylesheet">

        <title>Componetentes Tailwind Css</title>
    </head>
    <body class="font-inter bg-white text-slate-900">

        <header>
            <nav class="flex flex-row justify-center p-7 font-semibold gap-x-10 text-slate-500">
                <a href="/" class="hover:text-sky-500">Home</a>
                <a href="https://github.com/TheReyzer" target="_blank" class="hover:text-sky-500">Github</a>
                <a href="https://rodrigocjesus.netlify.app" target="_blank" class="hover:text-sky-500">Portifolio</a>

                
            </nav>
        </header>


        <!-- Hero -->
        <section class="flex flex-col mt-7 w-screen md:w-11/12 lg:w-9/12 mx-auto px-10 text-center">
            <h1 class="font-extrabold text-5xl lg:text-6xl mb-3">Avatars</h1>
            <span class="flex flex-row items-center w-fit mx-auto gap-x-2 no-sel">
                <a href="/" class="font-bold text-slate-900/60 hover:text-sky-500 transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                    </svg>                      
                </a>
                <span class="opacity-50 font-bold">/</span>
                <a href="." class="font-bold text-sky-500 transition-colors">Avatars</a>
            </span>
        </section>


        <main class="w-screen md:w-11/12 lg:w-9/12 mx-auto px-4 md:px-8 lg:px-10 my-10">

            <!-- Container -->
            <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 rounded-xl p-4 mt-20 mb-24">
                
                <!-- Title -->
                <span class="absolute -top-10 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4 before:-skew-y-3 before:bg-sky-500/60 inline-block">
                    <span class="relative text-black font-bold text-xl">Default</span>
                </span>

                <!-- Copy/View code -->
                <div class="tools-box flex text-slate-600 no-sel relative flex-row items-center ml-auto mb-2 mr-2">
                    <div class="gap-x-4 flex flex-row items-center border-r border-slate-400/75 mr-4 pr-4">
                        <button class="btn-preview flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Preview</span>                          
                        </button>
                        <button class="btn-code flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Code</span>                                           
                        </button>
                    </div>
                    <button>
                        <button class="btn-copy flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
                            </svg> <span class="text-xs font-bold ml-1">Copy</span>              
                        </button>
                    </button>
                </div>


                <!-- Preview -->
                <div class="preview-box my-7 mb-12">
                    <div class="flex flex-row space-x-5">
                        <img class="ring-2 ring-white inline-block object-cover rounded-sm w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <img class="ring-2 ring-white inline-block object-cover rounded-md w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <img class="ring-2 ring-white inline-block object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                    </div>
                </div>


                <!-- Code -->
                <div class="preview-code relative w-full select-all hidden">
                    <pre>

                    </pre>
                </div>
            </section>

            <!-- Container -->
            <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 rounded-xl p-4 mt-20 mb-24">
                
                <!-- Title -->
                <span class="absolute -top-10 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4 before:-skew-y-3 before:bg-sky-500/60 inline-block">
                    <span class="relative text-black font-bold text-xl">Group stacked</span>
                </span>

                <!-- Copy/View code -->
                <div class="tools-box flex text-slate-600 no-sel relative flex-row items-center ml-auto mb-2 mr-2">
                    <div class="gap-x-4 flex flex-row items-center border-r border-slate-400/75 mr-4 pr-4">
                        <button class="btn-preview flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Preview</span>                          
                        </button>
                        <button class="btn-code flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Code</span>                                           
                        </button>
                    </div>
                    <button>
                        <button class="btn-copy flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
                            </svg> <span class="text-xs font-bold ml-1">Copy</span>              
                        </button>
                    </button>
                </div>


                <!-- Preview -->
                <div class="preview-box my-7 mb-12">
                    <div class="flex flex-row -space-x-1">
                        <img class="ring-2 ring-white inline-block object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <img class="ring-2 ring-white inline-block object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <img class="ring-2 ring-white inline-block object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                    </div>    
                </div>


                <!-- Code -->
                <div class="preview-code relative w-full select-all hidden">
                    <pre>

                    </pre>
                </div>
            </section>


            <!-- Container -->
            <section class="flex flex-col justify-center items-center relative border border-slate-200 bg-slate-100/50 rounded-xl p-4 mt-20 mb-24">
                
                <!-- Title -->
                <span class="absolute -top-10 left-0 lg:-left-24 before:block before:absolute before:-inset-1 before:mt-3 before:h-4 before:-skew-y-3 before:bg-sky-500/60 inline-block">
                    <span class="relative text-black font-bold text-xl">Dot indicator</span>
                </span>

                <!-- Copy/View code -->
                <div class="tools-box flex text-slate-600 no-sel relative flex-row items-center ml-auto mb-2 mr-2">
                    <div class="gap-x-4 flex flex-row items-center border-r border-slate-400/75 mr-4 pr-4">
                        <button class="btn-preview flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Preview</span>                          
                        </button>
                        <button class="btn-code flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm14.25 6a.75.75 0 01-.22.53l-2.25 2.25a.75.75 0 11-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 111.06-1.06l2.25 2.25c.141.14.22.331.22.53zm-10.28-.53a.75.75 0 000 1.06l2.25 2.25a.75.75 0 101.06-1.06L8.56 12l1.72-1.72a.75.75 0 10-1.06-1.06l-2.25 2.25z" clip-rule="evenodd" />
                            </svg> <span class="text-xs font-bold ml-1">Code</span>                                           
                        </button>
                    </div>
                    <button>
                        <button class="btn-copy flex flex-row items-center focus:outline-none hover:text-slate-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
                            </svg> <span class="text-xs font-bold ml-1">Copy</span>              
                        </button>
                    </button>
                </div>

                <!-- Preview -->
                <div class="preview-box my-7 mb-12 flex flex-row space-x-5">
                    <div class="relative">
                        <img class="object-cover rounded-sm w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute top-0.5 right-0.5 rounded-full w-3.5 h-3.5 border-2 border-white bg-green-500"></span>
                    </div>   

                    <div class="relative">
                        <img class="object-cover rounded-md w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute top-0.5 right-0.5 rounded-full w-3.5 h-3.5 border-2 border-white bg-yellow-500"></span>
                    </div>

                    <div class="relative">
                        <img class="object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute top-0 right-0 rounded-full w-3.5 h-3.5 border-2 border-white bg-red-500"></span>
                    </div>


                    <div class="relative">
                        <img class="object-cover rounded-sm w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute -bottom-0.5 -left-0.5 rounded-full w-3.5 h-3.5 border-2 border-white bg-green-500"></span>
                    </div>   

                    <div class="relative">
                        <img class="object-cover rounded-md w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute -bottom-0.5 -left-0.5 rounded-full w-3.5 h-3.5 border-2 border-white bg-yellow-500"></span>
                    </div> 

                    <div class="relative">
                        <img class="object-cover rounded-full w-10 h-10" src="https://src.nappy.co/313" alt="@NappyStock"/>
                        <span class="absolute bottom-0 left-0 rounded-full w-3.5 h-3.5 border-2 border-white bg-red-500"></span>
                    </div>
                </div>


                <!-- Code -->
                <div class="preview-code relative w-full select-all hidden">
                    <pre>

                    </pre>
                </div>
            </section>
            
        </main>

        <footer class="p-7 flex fles-row items-center justify-center gap-x-5">
            <span>&copy;2023 - RodrigoC</span>
        </footer>

        <script src="/js/app.js"></script>
    </body>
</html>
